html,
body {
  background-color: #333;
  height: 100%;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.site-wrapper {
  display: table; 
  height: 100%;
  width: 100%;

}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.cover-container {
  margin-left: auto; 
  margin-right: auto;
  width: 100%;
}

.cover {
  padding: 0 1.5rem;
}
